<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BOM</title>
<style>
	.area{border: 1px solid yellowgreen; min-height: 300px;}
</style>
</head>
<body>
	<h1>BOM(Browser Object Model)</h1>
	
	<hr><hr>
	
	<h2>location객체</h2>
	<p>브라우저 주소 표시줄과 관련된 객체</p>
	<button onclick="test1();">실행확인</button>
	<div id="area1" class="area"></div>
	<script>
		function test1(){
			var area1 = document.getElementById('area1');
			for(var key in location){
				area1.innerHTML += (key + " : " + location[key] + "<br>");
			}
		}
	</script>
	
	<br>
	
	<h3>location.href</h3>
	<p>페이지 이동</p>
	<button onclick="location.href = 'http://www.naver.com'">네이버로 이동</button>
	<button onclick="location = 'http://www.naver.com'">네이버로 이동</button>
	
	<br>
	
	<h3>reload()</h3>
	<p>페이지를 새로고침 하는 메소드</p>
	<button onclick="location=location">새로고침</button>
	<button onclick="location.href=location.href">새로고침</button>
	<button onclick="location.reload();">새로고침</button> <!-- 현재 위치에서 새로고침 -->
	
	<br>
	
	<h3>assign()과 replace()</h3>
	<p>
		두 메소드 모두 location자원을 제공한 url의 자원으로 재지정하는 메소드(페이지 이동)<br>
		하지만 replace()는 assign()와 다르게 history객체에 현재 resource를 남기지 않음
	</p>
	<button onclick="location.assign('http://google.com');">구글로 이동</button>
	<button onclick="location.replace('http://google.com');">구글로 이동</button>
	
	<hr>
	
	<h2>navigator객체</h2>
	<p>웹 페이지를 실행하고 있는 브라우저에 대한 정보를 가지고 있는 객체</p>
	<button onclick="test2();">실행확인</button>
	<div id = 'area2' class = 'area'></div>
	<script>
		function test2(){
			var area = document.getElementById('area2');
			for(var key in navigator){
				area.innerHTML += (key + " : " + navigator[key] + "<br>");
			}
		}
	</script>
	
	<hr>
	
	<h2>history객체</h2>
	<p>브라우저 방문 기록과 관련된 객체</p>
	<button onclick="history.back();">back()</button>
	<button onclick="history.forward();">forward()</button>
	
	<br><br>
	
	<input type="number" id="num">
	<button onclick="test3();">go</button>
	<script>
		function test3(){
			var num = document.getElementById('num').value;
			history.go(num);
		}
	</script>
	
	<button onclick="history.go(-1);">go(-1)</button>
	<button onclick="history.go(1);">go(1)</button>
	
	<hr>
	
	<h2>screen객체</h2>
    <p>웹 브라우저 화면이 아닌 운영제제 화면(모니터)의 속성을 가지는 객체</p>
    <button onclick="test4_1()">실행확인</button>
    <button onclick="test4_2()">팝업테스트</button>
    <div id ="area4" class="area"></div>
    <script>
       function test4_1(){
          var area = document.getElementById('area4');
          for(var key in screen){
             area.innerHTML += key + " : " + screen[key] + "<br>";
          }
       }
       
       function test4_2(){
          var child = window.open(",", "width=" + screen.width + ", height=", +screen.height )
          child.resizeTo(500,300)/* 파일로 바꿈  */
          child.document.write("<button onclick='resizeTo(1000,500);'>크기변경</button>");
          
          setInterval(function(){
             child.resizeBy(-20, -20);/* 이동한다!  */
             child.moveBy(10,10); 
             },500);
       }
   
    </script>

	
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>