<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>실습문제3</title>
<style>
td {
	padding: 10px;
}
</style>
</head>

<body>
	<form>
		<fieldset>
			<legend>회원가입</legend>
			<table>
				<tr>
					<td><label for="userId">아이디 : </label></td>
					<td><input type="text" id="userId" placeholder="아이디를 입력하세요"></td>
					<td id=idLabel></td>
				</tr>
				<tr>
					<td><label for="pw">비밀번호 : </label></td>
					<td><input type="password" id="pw" placeholder="비밀번호를 입력하세요"></td>
				</tr>
				<tr>
					<td><label for="pw2">비밀번호 확인 : </label></td>
					<td><input type="password" id="pw2" placeholder="비밀번호를 입력하세요"></td>
					<td id=pw2Label></td>
				</tr>
				<tr>
					<td><label for="userName">이름 : </label></td>
					<td><input type="text" id="userName" placeholder="이름을 입력하세요"></td>
				</tr>
			</table>
			<button onclick="enroll();">회원가입</button>
		</fieldset>
	</form>

	<script>
		var userId = document.getElementById("userId");
		var pw = document.getElementById("pw");
		var pw2 = document.getElementById("pw2");
		var userName = document.getElementById("userName");
		var idLagel = document.getElementById("idLabel");
		var pw2Label = document.getElementById("pw2Label");

		function enroll() {
			console.log(userId);
		}
	</script>


</body>

</html>